extends base

block content 
    if errorMessage
        h1=errorMessage
    form(action="" method="POST")
        input(type="password" placeholder="Old Password" name="oldPassword")
        input(type="password" placeholder="New Password" name="newPassword")
        input(type="password" placeholder="New Password Confirmation" name="newPasswordConfirmation")
        input(type="submit", value="Change Password")
    