extends base

block content 
    form(method="POST" enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        // upload the only image files to use 'accept'
        input(type="file" id='avatar' name='avatar' accept="image/*") 
        input(placeholder="USER ID" name="userID", type="text" required, value=loggedInUser.userID)     
        input(placeholder="Email" name="email", type="email" required, value=loggedInUser.email)        
        input(placeholder="User Name" name="userName", type="text" required, value=loggedInUser.userName)   
        input(placeholder="Location" name="location", type="text" required, value=loggedInUser.location)     
        input(type="submit", value="Update")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;
